<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
      <h1>Hakkımda</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed ea dicta, blanditiis minus tempore eveniet minima quidem, modi deserunt quae porro quas nesciunt suscipit reprehenderit ipsum consequatur adipisci. Aliquam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est id quia aspernatur? Exercitationem nostrum explicabo cum facilis ipsam. Enim, temporibus. Enim, ut aperiam cum numquam quam ipsam necessitatibus, veniam reprehenderit cumque iure ratione! Libero molestiae facere beatae aliquid, veritatis excepturi quibusdam reiciendis non ducimus cum pariatur aut officia blanditiis nesciunt fugiat perspiciatis quis, tempora modi nisi incidunt, possimus sint. Explicabo saepe deleniti animi maxime nulla consequatur dignissimos totam? Velit, nemo mollitia unde atque nihil corporis nobis, porro numquam voluptas eligendi deserunt consectetur, nam nulla commodi. Dignissimos fugit ab officia mollitia, unde officiis quas! Doloremque ex quidem accusamus tempore, vitae rem!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed ea dicta, blanditiis minus tempore eveniet minima quidem, modi deserunt quae porro quas nesciunt suscipit reprehenderit ipsum consequatur adipisci. Aliquam.</p>
    </section>
</body>
</html>