<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h2>Register</h2>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Kullanıcı Adı" required>
            <input type="password" name="password" placeholder="Şifre" required>
            <input type="submit" value="Register">
            </form>
            <div class="switch-button">
                <a href="/login">Login</a>
            </div>
    </section>
</body>
</html>