nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #000;
    padding: 20px 0;
    background-color: #f8f9fa;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

nav ul li a:hover {
    color: #007BFF;
}
/*default*/
section{
    max-width: 1000px;
    margin: 40px auto;
}
section h1{
    text-align: center;
}
section ul{
    list-style: none;
}
section ul li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

section ul li:hover {
    background-color: #e8e8e8;
    position: relative;
}

section ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
}

section ul li p {
    text-align: justify;
    margin-top: 10px;
}

section ul li .timestamp {
    position: absolute;
    font-size: small;
    right: 5px;
    bottom: 3px;
    visibility: hidden;
}

section ul li:hover .timestamp {
    visibility: visible;
}

/*login*/
form {
    font-family: 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"] {
    font-family: 'Times New Roman', serif;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
}

input[type="submit"] {
    font-family: 'Times New Roman', serif;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #419644;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-family: 'Times New Roman', serif;
}

a:hover {
    color: #4CAF50;
}

.switch-button {
    text-align: center;
    margin-top: 20px;
}


/*new content*/
a.del {
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit-button {
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
}
.form-group input[type="submit"] {
    width: auto;
    padding: 20px 30px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}
